* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #000;
}
.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 1;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-1 {
  opacity: 0.2;
  width: 100%;
  height: 100%;
  background-image: url("/img/backgrond.png");
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.left {
  width: 100%;
  margin-left: 5%;
  margin-right: -60%;
}
.left img {
  width: 80%;
}
.middle {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.mobile-logo {
  display: none;
}
.ibendo-logo {
  margin-top: 10%;
  height: 100%;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.ibendo-logo img {
  height: 100%;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 1%;
  background-image: url("/img/login-backgrond.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 50%;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.login a {
}
.login img {
  height: 100%;
}

.ibendo-button {
  height: 100%;
  display: none;
  align-items: stretch;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.ibendo-button img {
  height: 30%;
}
.line {
  margin-left: -1%;
  margin-right: -1%;
}

.right {
  width: 20%;
  display: flex;
  height: 100%;
  justify-content: flex-end;
}

.logo {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.logo img {
  width: 100%;
}

//RWD

@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1680px) {
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1366px) {
  .ibendo-logo img {
    height: 70%;
  }
  .login {
    margin-top: -20%;
    gap: 1%;
    background-position: 50% 47%;
    background-size: 50%;
  }
  .login a {
    width: 8%;
  }
  .login img {
    width: 100%;
  }
}
@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 834px) {
  .left {
    display: none;
  }
  .right {
    display: none;
  }
  .page-1 {
    background-image: url("/img/mobile-backgrond.png");
  }
  .middle {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .mobile-logo {
    display: block;
    width: 100%;
  }

  .ibendo-logo {
    margin-top: 10%;
    height: 75%;
  }
  .ibendo-button {
    width: 100%;
    display: none;
    justify-content: center;
  }
  .mobile-logo-a {
    width: 40%;
  }
  .tree {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 414px) {
  .ibendo-logo {
    margin-top: 45%;
    height: 30%;
  }
  .login {
    background-position: 50% 48%;
    background-size: 75%;
  }
  .login a {
    width: 13%;
  }
}
@media screen and (max-width: 390px) {
} //iPhone 12 Pro

//animation
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
