* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("/img/index/backgrond.png");
  background-color: #f0e6ce;
  background-repeat: no-repeat;
<<<<<<< HEAD
  background-position: left center;
=======
  background-position: center center;
>>>>>>> 3e6a386146af628dfaa453ad26e85d6acdce5cce
  background-size: cover;
}

.lightbox {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 3;
  background: rgba(0, 0, 0, 0.7);
}
.lightbox img {
  position: absolute;
  top: 40%;
  left: 50%;
<<<<<<< HEAD
=======
  animation: shadow-drop-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
>>>>>>> 3e6a386146af628dfaa453ad26e85d6acdce5cce
}
.logo {
  display: flex;
  justify-content: flex-end;
}
<<<<<<< HEAD
.logo img {
  width: 100%;
}
.ibenlogo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ibenlogo img {
  width: 50%;
}
.login {
  display: flex;
  gap: 1.3rem;
=======
.ibenlogo {
  display: flex;
  justify-content: center;
  margin-bottom: 6%;
}
.login {
  display: flex;
  gap: 2rem;
>>>>>>> 3e6a386146af628dfaa453ad26e85d6acdce5cce
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
<<<<<<< HEAD
  align-items: flex-end;
  justify-content: center;
}
.login-bg {
  position: absolute;
  z-index: -1;
}
.login-icon {
  transform: translate(-50% -50%);
}
=======
  background-image: url("/img/index/login-border.png");
  width: 665px;
  height: 180px;
  align-items: flex-end;
  justify-content: center;
}
>>>>>>> 3e6a386146af628dfaa453ad26e85d6acdce5cce
.eventdescription {
  display: flex;
  justify-content: flex-end;
}

.navbar {
<<<<<<< HEAD
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
}
.navbar .line-1 {
  margin-right: -1rem;
=======
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 2rem;
}
.navbar .button {
  font-size: 1.3rem;
  width: 180px;
  height: 55px;
  color: #3290ff;
  border: 1.73067px solid #3290ff;
  border-radius: 20.768px;
  text-align: center;
  line-height: 55px;
}
.navbar a {
  text-decoration: none;
>>>>>>> 3e6a386146af628dfaa453ad26e85d6acdce5cce
}

.integral {
  margin-bottom: 1rem;
}

.page-1 {
  display: none;
  margin: auto;
  width: 90vw;
}

.reward-index {
  margin: auto;
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.7rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}

.priz {
  width: 300px;
  height: 100%;
  border: 1px solid #292922;
  border-radius: 10px;
<<<<<<< HEAD
=======
  animation: shadow-drop-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
>>>>>>> 3e6a386146af628dfaa453ad26e85d6acdce5cce
}
.page-2 {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;

  margin: auto;
  width: 20vw;
}
.keyin {
  margin: auto;
  width: 90%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #292929;
<<<<<<< HEAD
=======

  animation: shadow-drop-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
>>>>>>> 3e6a386146af628dfaa453ad26e85d6acdce5cce
}

form label {
  width: 10vw;
}
.address {
  width: 170%;
}
.click-button {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.page-3 {
  display: none;
  margin: auto;
  width: 90vw;
}
.table {
  margin: auto;
<<<<<<< HEAD
=======
  animation: shadow-drop-lr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
>>>>>>> 3e6a386146af628dfaa453ad26e85d6acdce5cce
}
.table thead td {
  padding-right: 3rem;
  padding-left: 5px;
  color: #ffffff;
  background-color: #333333;
}

.table td {
  padding-right: 3rem;
  padding-left: 5px;
  background-color: #f9f9f9;
}

// Animation

<<<<<<< HEAD
//RWD

@media screen and (max-width: 1920px) {
}
@media screen and (max-width: 1680px) {
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1366px) {
  .logo {
    display: flex;
    justify-content: flex-end;
  }
  .logo img {
    width: 90%;
  }

  .ibenlogo {
    display: flex;
    justify-content: center;
  }
  .ibenlogo img {
    width: 40%;
  }
}
@media screen and (max-width: 1280px) {
=======
@-webkit-keyframes shadow-drop-lr {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35),
      12px 0 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35),
      12px 0 20px -12px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-lr {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35),
      12px 0 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35),
      12px 0 20px -12px rgba(0, 0, 0, 0.35);
  }
>>>>>>> 3e6a386146af628dfaa453ad26e85d6acdce5cce
}
