* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
.page-1 {
  width: 100%;
  height: 100%;
  background-image: url("/img/mobile-backgrond.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.mobile-logo {
}
main {
  height: 100%;
}
.left {
  display: none;
}
.right {
  display: none;
}
.middle {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.ibendo-logo img {
  width: 95%;
}
.ibendo-button {
  width: 100%;
  display: none;
  justify-content: center;
}
.line {
  margin-right: -1%;
  margin-left: -1%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  gap: 6%;
  background-image: url("/img/login-backgrond.png");
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: 80%;
}

.login-logo {
  width: 130%;
}
