* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.4rem;
}

body {
  background-color: black;
  background-image: url("/public/img/body-background.png");
  background-repeat: no-repeat;
  background-size: cover;

}